body{
    background-image: url(bg.jfif);
        background-size:100%;
    background-repeat: no-repeat;
    min-height: 1000%;
    opacity: 0.9;
}
.row
{
  margin-top: 5%;
  
}
.list-group-item
{
    font-family: fantasy;
}
.list-group-item:hover{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3) ;
}
.btn
{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover{
    box-shadow:12px 12px 12px rgba(0,0,0,0.3) ;
}
.contain
{
    padding-left: 20%;
    padding-right: 20%;
    
}
.fa fa-trash
{
    margin-right: 0%;
}
#todo-input
{
    box-sizing: content-box;
}
.mb-0
{
    font-size: 80px;
    font-family: cursive;
}
.glow {
    font-size: 80px;
    color: black;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #707070, 0 0 30px #707070, 0 0 40px #707070, 0 0 50px #707070, 0 0 60px #707070, 0 0 70px #707070;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #BEBEBE, 0 0 40px #BEBEBE, 0 0 50px #BEBEBE, 0 0 60px #BEBEBE, 0 0 70px #BEBEBE, 0 0 80px #BEBEBE;
    }
  }